# Choose source: remote / local / file
source = "remote"

FILE = None
API_URL = None
TOKEN = None
if source == "remote":
    API_URL = "https://climrisk.org/edb"
    TOKEN = "<your-token-on-climrisk-for-edb>"
elif source == "local":
    API_URL = "http://localhost:8000"
    TOKEN = "<local-token>"
    print("WARNING: getting data from the LOCAL database")
elif source == "file":
    FILE = "edb-archive-2024.json"
else:
    raise Exception("Source must be 'local', 'remote' or 'file")
